@font-face {
    font-family: 'tajwal';
    src: url('../assets/Fonts/Tajawal-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'tajwal';
    src: url('../assets/Fonts/Tajawal-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'tajwal';
    src: url('../assets/Fonts/Tajawal-Bold.ttf');
    font-weight: 800;
}
// @font-face {
//     font-family: 'Wassem';
//     src: url('/assets/Fonts/Wassem.ttc');
// }